{%extends 'app/base.html'%}
{%block contenido%}
{% load static %}


    
<div class="headercontacto">
    <h1>CONTÁCTANOS</h1>
    <p>Comunicate con nosotros y empieza a cambiar el futuro</p>
</div>
<br>

<section class="container rea ">
    <div class="info-columns">
        <!-- Columna de información de contacto -->
        <div class="contact-info asa ">
            <h2>Información de Contacto</h2>
            
            <ul>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                    </svg>
                 <h3 class="blu">Alejandro Espinoza Verdugo</h3></li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                <a class="blu" href="https://www.google.com/maps?ll=-34.650649,-71.1957&z=15&t=m&hl=es-419&gl=CL&mapclient=embed&q=Luis+Cruz+Mart%C3%ADnez+991+3110000+Nancagua+O%27Higgins"> Luis Cruz Martinez 991 Nancagua Chile.</a></li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                  </svg>
                    <a class="blu" href="https://mail.google.com/mail/?view=cm&fs=1&to=contacto@medidorinteligente.cl&su=Consulta&body=.">contacto@medidorinteligente.cl</a></li>
            </ul>
        </div>

        <!-- Columna de redes sociales -->
        <div class="social-info ase">
            <h2>Síguenos en redes</h2>
            <ul>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
                    </svg>
                <a class="blu" href="https://www.facebook.com/Medidores.Inteligentes.De.Agua.Potable/"> Medidor Inteligente de Agua Potable</a></li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                        <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"/>
                    </svg>
                <a class="blu" href="https://www.youtube.com/@MedidorInteligenteAPR"> @MedidorInteligenteAPR</a></li>
            </ul>
        </div>
    </div>

</section>
<section class="lleno">
    <!-- Formulario -->
    <div class="container reamm">
        <div class="contact-form reammm">
            <h2>¿Más dudas? Escríbenos</h2>
            <form class="col-md-8" method="POST" action="" id="emailForm">{% csrf_token%}
                <div class="form-row">
                    <div class="form-group">
                        <label>Nombre completo <span class="required">*</span></label>
                        <input type="text" name="name" placeholder="Escribe aquí" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Correo electrónico <span class="required">*</span></label>
                        <input type="email" name="correo" id="email" placeholder="Escribe aquí" required>
                    </div>
                </div>
                <div class="form-group full-width">
                    <label>Teléfono <span class="required">*</span></label>
                    <input type="tel" name="phone" placeholder="Escribe aquí" required>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label>Nombre del APR / SSR <span class="required">*</span></label>
                        <input type="text" name="ssr_apr" placeholder="Escribe aquí" required>
                    </div>
                    <div class="form-group">
                        <label>Cargo o Puesto en el APR <span class="required">*</span></label>
                        <input type="text" name="cargo_apr" placeholder="Escribe aquí" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label>Comuna <span class="required">*</span></label>
                        <input type="text" name="comuna" placeholder="Escribe aquí" required>
                    </div>
                    <div class="form-group">
                        <label>Cantidad de Arranques</label>
                        <input type="text" name="cantidad" placeholder="Escribe aquí">
                    </div>
                </div>
                <div class="form-group full-width">
                    <label>Tipo de financiamiento <span class="required">*</span></label>
                    <div class="radio-options">
                        <label class="radio-label">
                            <input type="radio" name="financiamiento" value="Fondo propio" required checked>
                            <span>Propio</span>
                        </label>
                        <label class="radio-label">
                            <input type="radio" name="financiamiento" value="Fondo externo (Gobierno, otras entidades)" required>
                            <span>Fondo externo (Gobierno, otras entidades)</span>
                        </label>
                    </div>
                </div>
                <div class="form-group full-width">
                    <label>Mensaje</label>
                    <textarea name="message" placeholder="Escribe aquí" rows="6"></textarea>
                </div>
                <button type="submit" id="sendBtn">Enviar</button>

                
                <script>
                    document.getElementById("sendBtn").addEventListener("click", function (event) {
                      const emailInput = document.getElementById("email");
                      const email = emailInput.value.trim();
                      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                  
                      // Evitar que el formulario se envíe automáticamente
                      event.preventDefault();
                  
                      if (email === "" || !emailRegex.test(email)) {
                        // Si el correo está vacío o mal escrito
                        Swal.fire({
                          title: "Error",
                          text: "ingrese un correo válido",
                          icon: "error",
                          confirmButtonText: "OK"
                        });
                      } else {
                        // Si el correo es válido, mostrar success y luego enviar el form
                        Swal.fire({
                          title: "enviado",										 
                          icon: "success",
                          confirmButtonText: "OK"
                        }).then(() => {
                          document.getElementById("emailForm").submit();
                        });
                      }
                    });
                </script>
            </form>
            <div id="confirmationMessage" class="confirmation-message" style="display: none;">
                ¡Gracias por contactarnos! Te responderemos pronto.
            </div>
        </div>
    </div>

</section>





{% endblock %}