{%extends 'app/base.html'%}
{%block contenido%}
{% load static %}

<div class="recurso">
    <!-- Cards Section -->
    <div class="cards-grid">
        <!-- Card Principal (Izquierda) -->
        <div class="card">
            <img src="{% static 'app/img/image1.png'%}" alt="Certificación">
            <div class="card-content">
                <h3>Nuestro medidor inteligente está certificado por el dictuc</h3>
               
                <a href="{% get_media_prefix %}CERTIFICADO%20DITUC.pdf" class="card-button">Conoce más</a> 
            </div>
        </div>
        <!-- Cards Secundarios (Derecha) -->
        <div class="card">
            <img src="{% static 'app/img/info2.jpg'%}" alt="Informe">
            <div class="card-content">
                <h3>Informe de ensayos dictuc</h3>
                <a href="{% get_media_prefix %}Informe-de-ensayos.pdf" class="card-button">Ver informe</a>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'app/img/info1.jpg'%}" alt="Estudios">
            <div class="card-content">
                <h3>Informe Estudios "Interagua" Ecuador</h3>
                <a href="{% get_media_prefix %}INFORME-SANITARIA-INTERAGUA-ECUADOR.pdf" class="card-button">Ver informe</a>
            </div>
        </div>
    </div>
   
    <!-- Product Section -->
</div>
<div class="handheld">
    <div class="header-content">
        <div class="left-content">
            <p class="discover">DESCUBRE MÁS</p>
            <h1 class="title">Ficha técnica Medidor</h1>
            <p class="subtitle">Hand Held</p>
        </div>
        <div class="center-content">
            <div class="image-circle"></div>
            <img src="{% static 'app/img/handheld.png'%}" alt="Medidor Hand Held" class="device-image">
        </div>
        <div class="right-content">
            <a href="{% get_media_prefix %}FICHA-TÉCNICA.pdf" class="card-buttons">Ver informe</a>
           
        </div>
    </div>
</div>

<section class="recurso">
    <!-- Manuals Section -->
    <div class="manuals-section">
        <h2>MANUALES</h2>
        <p>Descubre el funcionamiento adecuado del medidor</p>
        <br>
        <h4>USO DEL MEDIDOR INTELIGENTE</h4>
        <div class="meters-grid">
            <div class="meter-item">
                <img src="{% static 'app/img/medidorr.png' %}" alt="Medidor 1">
                <p>SOFTWARE MEDIDOR - PDF N°1</p>
                <a href="{% get_media_prefix %}Manual-de-Uso-Software-HandHeld-Parte-1.pdf" class="manual-link" download>Descargar manual</a>
            </div>
            <div class="meter-item">
                <img src="{% static 'app/img/medidorr.png' %}" alt="Medidor 2">
                <p>SOFTWARE MEDIDOR - PDF N°2</p>
                <a href="{% get_media_prefix %}Manual-de-Uso-Software-HandHeld-Parte-2.pdf" class="manual-link" download>Descargar manual</a>
            </div>
            <div class="meter-item">
                <img src="{% static 'app/img/medidorr.png' %}" alt="Medidor 3">
                <p>SOFTWARE MEDIDOR - PDF N°3</p>
                <a href="{% get_media_prefix %}Manual-de-Uso-Software-HandHeld-Parte-3.pdf" class="manual-link" download>Descargar manual</a>
            </div>
        </div>
    </div>
 </section>   

<h3 class= "uso">USO DEL SOFTWARE</h3>
<div class="steps-grid">
    <div class="step-card">
        <div class="video-containerrecurso">
            <iframe src="https://www.youtube.com/embed/TlVoe2mzZu4" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4>PRIMER PASO:</h4>
        <p>Crear Archivos de Sectores y Enviar al Hand-Held o Mando Manual</p>
    </div>
    <div class="step-card">
        <div class="video-containerrecurso">
            <iframe src="https://www.youtube.com/embed/cxPYkqDfnSE" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4>SEGUNDO PASO:</h4>
        <p>Toma de Lecturas a Medidores Inteligentes con Hand-Held o Mando Manual</p>
    </div>
    <div class="step-card">
        <div class="video-containerrecurso">
            <iframe src="https://www.youtube.com/embed/DVHzPUBC17E" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4>TERCER PASO:</h4>
        <p>Enviar Archivos de Sectores con Lecturas ya Tomadas al Computador</p>
    </div>
</div>
    <h3 class= "uso">MODOS DE USO</h3>
    <div class="steps-grid">
        <div class="step-card">
            <div class="video-containerrecurso">
                <iframe src="https://www.youtube.com/embed/MxQmI7FC0tM" frameborder="0" allowfullscreen></iframe>
            </div>
            <h4>PRIMER PASO:</h4>
            <p>USO DE MEDIDOR INTELIGENTE – REESTABLECER COINCIDENCIA EN LECTURAS ANÁLOGA Y DIGITAL</p>
        </div>
        <div class="step-card">
            <div class="video-containerrecurso">
                <iframe src="https://www.youtube.com/embed/upaSDaJK8UI" frameborder="0" allowfullscreen></iframe>
            </div>
            <h4>SEGUNDO PASO:</h4>
            <p>USO DE MEDIDOR INTELIGENTE – TOMA DE LECTURA INDIVIDUAL / MANUAL</p>
        </div>
        <div class="step-card">
            <div class="video-containerrecurso">
                <iframe src="https://www.youtube.com/embed/upaSDaJK8UI" frameborder="0" allowfullscreen></iframe>
            </div>
            <h4>TERCER PASO:</h4>
            <p>USO DE MEDIDOR INTELIGENTE – ABRIR Y CERRAR VÁLVULA</p>
        </div>
    </div>
</div>
{% endblock %}